<% @user.all_following.each do |user| %>
<div class= "card d-flex justify-content-around m-5" style="width: auto; heigth: auto;">
<div class="row row-cols md-3">
  <h4 class="ml-5">
    <%= link_to user.name, user_path(user) %>
  </h4>

  <p>
    <%= image_tag user.image.to_s , class:"icon_image"%>
  </p>


  <%= render partial: 'posts/post', collection: user.posts.order("created_at DESC").limit(3) %>
</div>
</div>


<% end %>
